// 评论模块

if theme.leancloud.comment
    a(href="#comment", class="comment-anchor")
    div(id="vcomments")
    script.
        new Valine({
            el: "#vcomments",
            appId: "!{ theme.leancloud.appid }",
            appKey: "!{ theme.leancloud.appkey }",
            notify: false,
            avatar: "!{ theme.leancloud.avatar }",
            visitor: false,
            placeholder: "!{ theme.leancloud.placeholder }",
            pageSize: "!{ theme.leancloud.pageSize }",
        });